<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
<div class="container">
  <div class="row">
    <div class="col s4" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright:
          <a class="text-dark" href="https://spinningtopman.com/">SpinningTM</a>
    </div>
    <div class="col s4" style="background-color: rgba(0, 0, 0, 0.2);">
      Social
    </div>
    <div class="col s4" style="background-color: rgba(0, 0, 0, 0.2);">
      <%= link_to "About", about_path %>
    </div>
  </div>
</div>
  <!-- Copyright -->
</footer>
